@require 'vars'

bgPosX(x)
  background-position-x: x * -1

bgPosY(y)
  background-position-y: y * -1

.card
  height: CardHeight;
  width: CardWidth;
  background-image: url(CardBackground);
  background-position: 0 CardHeight* -4;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;

@media (min-width: 500px)
  .card
    background-image: url("../images/cards_front_small.jpg")

.card .more
  position absolute
  height 50px
  width 50px
  padding-top 13px
  border-radius 24px
  background: rgba(0, 0, 0, 0.8)
  color #fff
  top: 30px;
  left: 15px;
  font-size: 18px;
  text-align center


.card
  &.hide
    width 25%

.card.trump
  transform: translate(30px, 0px) rotate(90deg);

/*
1. Herz
2. Karo
3. Pik
4. Kreuz
 */
cardHoverEffect()
  &:hover
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.card.symbol-1
  bgPosY(CardHeight* 0)
  cardHoverEffect()

.card.symbol-2
  bgPosY(CardHeight* 1)
  cardHoverEffect()

.card.symbol-3
  bgPosY(CardHeight* 2)
  cardHoverEffect()

.card.symbol-4
  bgPosY(CardHeight* 3)
  cardHoverEffect()

.card.value-6
  bgPosX(CardWidth* 0)

.card.value-7
  bgPosX(CardWidth* 1)

.card.value-8
  bgPosX(CardWidth* 2)

.card.value-9
  bgPosX(CardWidth* 3)

.card.value-10
  bgPosX(CardWidth* 4)

.card.value-11
  bgPosX(CardWidth* 5)

.card.value-12
  bgPosX(CardWidth* 6)

.card.value-13
  bgPosX(CardWidth* 7)


.attack
  position: absolute;
  right: 0;
  bottom: 0;

.defend
  position: absolute;
  left: 0;
  top: 0;

