@require "vars"

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.fill
  min-height: 100%;
  height: 100%;
  box-sizing:border-box;


.table > tbody > tr > td
  border-top:none;


.row.vertical-align
  display: flex;
  align-items: center;

.match.enterdrop
  background-color #ffc

.match > .match.enterdrop
  background-color #ffc
  border-radius 5px

.match .match
  height: 140px;
  width: 120px;
  position: relative;
  float:left;

#matchField
  left: 200px;
  right: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  min-height: 100%;

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.match {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

@require "cards"
@require "player"
